
/* Universal settings */
* {
    color: var(--white-complement);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* variable setting */
:root {
    --primary-color: #1b264f;
    --secondary-color: #274690;
    --secondary-accent: #576ca8;
    --dark-contrast: #302b27;
    --white-complement: #f5f3f5;
}


body {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    background-color: var(--secondary-accent);
    align-content: center;
    align-items: center;
    padding: 20px;
}

nav {
    grid-column: 1/4;
    grid-row: 1/2;
    padding: 20px;
    margin: auto;
    min-height: 100px;
    justify-items: center;
}

.banner {
    border: 5px solid var(--dark-contrast);
    background-color: var(--secondary-color);
    grid-column: 1/4;
    grid-row: 2/3;
    justify-items: center;
    justify-content: center;
    padding: 10px;
}

.banner img {
    justify-self: center;
    padding: 10px;
}

.card-container {
    grid-column: 1/4;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    gap: 25px;
    padding: 20px;
}

.card {
    border: 2px solid var(--secondary-accent);
    padding: 20px;
    box-shadow: 10px 10px var(--primary-color);
}

#card1 {
    /* grid-column: 1 / 2; */
    background-color: var(--secondary-color);
}
#card2 {
    /* grid-column: 2 / 3; */
    background-color: var(--secondary-color);
}
#card3 {
    /* grid-column: 3 / 4; */
    background-color: var(--secondary-color);
}

.secondsection {
    background-color: var(--primary-color);
    color: var(--dark-contrast);
    justify-items: center;
    grid-row: 5 / 6;
    grid-column: 1/4;
    padding: 20px;
    margin: 10px;
}

#picture {
    justify-self: right;
}

